{
  "extends": [
    // "xo-space",
    "eslint:recommended",
    "plugin:vue/recommended"
  ],
  "ignorePatterns": [
    "*.config.js"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "comma-dangle": 0,
    "capitalized-comments": 0,
    "vue/no-v-html": "off",
    "vue/html-self-closing": "off",
    "vue/no-v-for-template-key": "off",
    "vue/max-attributes-per-line": "off",
    "vue/no-v-text-v-html-on-component": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/multiline-html-element-content-newline": "off"
  }
}
