.checkbox:checked + label:before {
  @apply rounded-md border-2 bg-slate-800 border-slate-600 text-slate-200;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23E2E8F0' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5 13l4 4L19 7' /%3E%3C/svg%3E");
}

.checkbox:focus + label:before {
  @apply border-2 border-teal-300 outline-none focus-visible:ring-2 focus-visible:ring-teal-300 focus-visible:ring-offset-2 focus-visible:ring-offset-white;
}

.checkbox + label:before {
    @apply w-5 h-5 mr-2 inline-flex items-center justify-center align-baseline border bg-slate-800 border-slate-600 rounded-md;
    content: ".";
    text-indent: -9999px;
}

.masonry-with-columns {
  columns: 6 200px;
  column-gap: 1rem;

}
.masonry-with-columns > div {
    width: 150px;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: system-ui;
    font-weight: 900;
    font-size: 2rem;
  }
