.lazyload {
  @apply opacity-0 transition-opacity duration-700;
}

.lazyload.loaded,
.lazyload.loaded .overlay {
  @apply opacity-100;
}

/* Animated loader */
.loader-wrapper {
  @apply bg-zinc-50;
}

.animated-loader .loader-wrapper:before {
  @apply absolute inset-0;
  border-radius: inherit;
  content: '';
  background: linear-gradient(120deg, rgba(25,28,32,0) 33%, rgba(25,28,32,0.8) 50%, rgba(25,28,32,0) 66%) rgba(255,255,255,0.01);
  background-size: 300% 100%;
  animation: shine 1s infinite;
}

.animated-loader.light .loader-wrapper {
  @apply bg-zinc-100;
}

.animated-loader.light .loader-wrapper:before {
  @apply absolute inset-0;
  border-radius: inherit;
  content: '';
  background: linear-gradient(120deg, rgba(255,255,255,0) 33%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 66%) rgba(255,255,255,0.01);
  background-size: 300% 100%;
  animation: shine 1s infinite;
}

@keyframes shine {
  0% {
    background-position: right;
  }
}

.animated-loader .lazyload.error::before {
  @apply opacity-0;
}

.animated-loader .lazyload {
  @apply print:hidden;
}

.animated-loader .lazyload.loaded {
  @apply print:block;
}
