/* Generic load-in animation for lazy load */
.lazyload-wrapper {
  @apply rounded-md;
}

.lazyload {
  @apply bg-opacity-100;
  border-radius: inherit;
}

.lazyload.loaded {
  @apply bg-opacity-0;
}

.lazyload span,
.lazyload iframe {
  @apply opacity-0 transition-all duration-500;
}

.lazyload span:not(.alt),
.lazyload iframe {
  @apply block;
}

.lazyload.loaded span:not(.alt),
.lazyload.loaded iframe {
  @apply opacity-100;
}

/* Loading placeholder (takes up space) */
.loader {
  @apply w-full rounded-md;
  background: linear-gradient(120deg, rgba(255,255,255,0) 33%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 66%) #EAEEF4;
  background-size: 300% 100%;
  animation: shine 1s infinite;
}

.loader-table {
  @apply rounded-b-none;
}

.lazyload:before {
  @apply absolute inset-0;
  border-radius: inherit;
  content: '';
  background: linear-gradient(120deg, rgba(255,255,255,0) 33%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 66%) #EAEEF4;
  background-size: 300% 100%;
  animation: shine 1s infinite;
}

.dark .lazyload:before {
  @apply absolute inset-0;
  border-radius: inherit;
  content: '';
  background: linear-gradient(120deg, rgba(30,41,59,0) 33%, rgba(30,41,59,0.5) 50%, rgba(30,41,59,0) 66%) #0F172A;
  background-size: 300% 100%;
  animation: shine 1s infinite;
}

.bg-transparent .lazyload:before {
  background: none;
}

.lazyload-wrapper.circle .lazyload::before {
  @apply rounded-full;
}

.lazyload.loaded::before,
.lazyload.error::before {
  @apply opacity-0;
}

.error span:first-child {
  @apply hidden;
}

.error .alt {
  @apply flex opacity-100;
}

@keyframes shine {
  0% {
    background-position: right;
  }
}

.lazyload {
  @apply print:hidden;
}

.lazyload.loaded {
  @apply print:block;
}
