.preloader {
  @apply w-full h-full absolute top-0 left-0 z-0;
}

.preloader .loading::after {
  @apply w-full h-full block absolute top-0 bottom-0 bg-gray-200;
  content: '';
  transform: translateX(0);
  -webkit-animation: 1.5s loading-placeholder ease-in-out infinite;
  animation: 1.5s loading-placeholder ease-in-out infinite;
}

@keyframes loading-placeholder {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
