.prose h2 code,
.prose h3 code,
.prose h4 code {
  @apply !bg-transparent;
}

abbr,
.prose abbr {
  @apply cursor-help underline underline-offset-2 decoration-1 decoration-slate-500;
}

.prose ul,
.prose ol {
  @apply mb-6;
}

.prose h4 {
  @apply mb-6;
}

/* Syntax highlighting */
.prose .shiki pre {
  @apply grid m-0 p-0 leading-relaxed bg-white;
  @apply selection:bg-blue-500 selection:text-white;
}

.prose .shiki code {
  @apply grid p-0 py-4 bg-transparent w-full;
}

/* Inline <code> */
.prose :not(pre) code {
  @apply px-1 py-0.5 rounded;
  @apply bg-slate-100 text-slate-700 font-normal;
  @apply before:content-none after:content-none;
}

/* Diffs */
.prose .shiki .line.ins,
.prose .shiki .line.del {
  @apply py-1;
}

.prose .shiki .line.ins:not(.highlight) {
  @apply bg-teal-50;

  span {
    @apply !text-teal-500;
  }

  &:before {
    content: '+';
    @apply w-4 h-4 absolute block -ml-3 text-teal-500;
  }
}

.prose .shiki .line.del:not(.highlight) {
  @apply bg-rose-50/50;

  span {
    @apply !text-rose-500;
  }

  &:before {
    content: '-';
    @apply w-4 h-4 absolute block -ml-3 text-rose-500;
  }
}

.prose .shiki .line.ins.highlight:after,
.prose .shiki .line.del.highlight:after {
  @apply absolute left-3 top-[3px] h-full text-indigo-500 font-semibold;
}

.prose .shiki .line.ins.highlight:after {
  content: '+';
}

.prose .shiki .line.del.highlight:before {
  content: '-';
}

/* Terminal code samples */

.prose .frame:not(.frame-none) + .shiki pre {
  @apply rounded-t-none;
}

.prose .frame-terminal + .shiki .line:not(.empty):before {
  content: '$';
  @apply text-base pr-4 text-slate-400;
}

/* Line blurring */

.prose .shiki.blur-lines pre:has(.line.highlight) .line:not(.highlight) {
  @apply blur-[0.095rem];
  transition: filter .35s,opacity .35s;
}

.prose .shiki.blur-lines pre:has(.line.highlight):hover .line:not(.highlight) {
  @apply blur-0;
}

.prose .shiki .line {
  @apply block px-6;
}

.prose .shiki .line.highlight {
  @apply bg-slate-100/75 py-1 w-full relative;

  &:before {
    content: '';
    @apply absolute w-[3px] h-full bg-indigo-500 left-0 top-0;
  }
}

/* Example cards */

.prose .example-preview > div:first-child {
  @apply flex justify-center py-10 bg-slate-100 rounded-t-md;
}

.prose .example-preview .shiki {
  @apply py-4 rounded-t-none border-slate-100;
}

.prose .example-preview code {
  @apply w-full p-0 bg-transparent;
}

.animate-spin-fast {
  animation: spin .5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.completed .ti-cursor {
  @apply hidden !important;
}
